#bloc_page
{
	width:70%;
	margin:auto;
	background-color:yellow;
	
}
.menu
{

	display:flex;
	flex-direction:row;
	justify-content:center;
	
}
.bloc1
{
	margin-right: -50px;
}
header
{

	display:flex;
	flex-direction:column;
	justify-content:center;
	
}
header
{
	text-align:center;
	margin-left:-56px;
	background-color;
	
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    font-style: normal;
    /* font-variant: normal; */
    text-rendering: auto;
    line-height: 1;
	margin-left:-120px;
	background-color:white;
}